.Button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    white-space: nowrap;
    font-family: "Nanum Pen Script";
  }

.Button_default {
    background-color: rgb(255, 131, 152);
    color: black;

}

.Button_positive {
    background-color: rgb(255, 194, 214);
    color: rgb(255, 255, 255);
}

.Button_negative {
    background-color: rgb(163, 206, 223);
    color: rgb(255, 255, 255);
}